<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Opciones de usuario para [<b>{{vm.settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>configuraciones guardadas saved!</strong>
            </div>

           <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name"
                           ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required">
                            tu  nombre es requerido
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength">
                            Tu nombre debe tener al menos un caracter
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength">
                            tu nombre no puede ser mas grande de 50 caracteres
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                           ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required">
                            Tu appellido es requerido
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength">
                            Tu apellido debe tener al menos un caracter
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength">
                            Tu apellido no puede tener mas de 50 caracteres
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Tu email es requerido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Tu email es inavalido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Tu email debe tener al menos 5 caracteres
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Tu email no puede tener mas de 100 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar.</button>
            </form>
        </div>
    </div>

</div>
