

<div class="espacio">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Contraseña para [<b>{{vm.account.login}}</b>]</h2>
            <br><br><br>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Contraseña cambiada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Un error ha ocurrido!</strong> La contraseña no pudo ser cambiada.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                La contraseña y la confirmacion no coinciden!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Tu contraseña es requerida.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Tu contraseña debe ser de al menos 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Tu contraseña no puede ser de mas de 50 caracteres.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <br><br>

                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmacion de nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Tu confirmación de contraseña es requerida.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Tu confirmación de contraseña debe ser de al menos 4 caracteres.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Tu confirmación de contraseña no puede ser de mas de 50 caracteres.
                        </p>
                    </div>
                </div>
                <br><br>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>



