
<div class="espacio container">
    <h2><span>Orden Reparacion</span> {{vm.ordenReparacion.id}}</h2>
    <hr>
    <br><br>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Cliente</span></dt>
        <dd>
            <a ui-sref="cliente-detail({id:vm.ordenReparacion.cliente.id})">{{vm.ordenReparacion.cliente.nombre}}</a>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Garantia</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.garantia}}</span>
        </dd>
        <dt><span>Maquina</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.maquina}}</span>
        </dd>
        <dt><span>Falla</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.falla}}</span>
        </dd>
        <dt><span>Fecha Prometido</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.fechaPrometido | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Accesorios</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.accesorios}}</span>
        </dd>
        <dt><span>Observaciones</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.observaciones}}</span>
        </dd>
        <dt><span>Informe Tecnico</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.informeTecnico}}</span>
        </dd>

        <dt><span>Tecnico</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.tecnico.nombre}}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <span>{{vm.ordenReparacion.estado.nombre}}</span>
        </dd>
        <hr>
        <dt><h3><span>Total</span></h3></dt>
        <dd>
            <h3 class="pull-right"><span>$ {{vm.totalGeneral()}}</span></h3>
        </dd>
        <hr>
    </dl>
    <div>

        <jhi-alert></jhi-alert>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ng-click="vm.crearLinea()">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span >
                        Item
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>

                    <th><span>Cantidad</span></th>

                    <th><span>Producto</span></th>
                    <th>Valor</th>
                    <th>SubTotal</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ordenLinea in vm.ordenLineas track by ordenLinea.id">

                    <td>{{ordenLinea.cantidad}}</td>

                    <td>
                        <a ui-sref="producto-detail({id:ordenLinea.producto.id})">{{ordenLinea.producto.nombre}}</a>
                    </td>
                    <td>
                        <a ui-sref="producto-detail({id:compraLinea.producto.id})">$ {{ordenLinea.producto.precioVenta}}</a>
                    </td>
                    <td>
                        <a ui-sref="producto-detail({id:compraLinea.producto.id})">$ {{ordenLinea.producto.precioVenta*ordenLinea.cantidad}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">

                            <button type="submit"
                                    ng-click="vm.mostrarDialog(ordenLinea)"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Volver</span>
    </button>

    <button type="button" ui-sref="orden-reparacion-detail.edit({id:vm.ordenReparacion.id})" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Editar</span>
    </button>
</div>
